.blackbg {
    padding: 0;
    width: 100vw;
    height: 85vh;
    background-color: black;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column; /* allows stacking Header + other hero content */
  }
  
@font-face {
    font-family: 'TAN Pearls';
    src: url('../../assets/fonts/tan-pearl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.question{
    font-family: 'TAN Pearls', serif;
    color: #c1ff72;
    margin-top: 8vh;
    font-size:8vh;
}
  