html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}

@font-face {
  font-family: 'SK Concretia';
  src: url('./assets/fonts/sk-concretica-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}