.Header {
    width: calc(97vw);
    height: auto;
    display: flex;                /* use flex */
    justify-content: space-between; /*logo left, nav right */
    align-items: center;          /* vertically centered */
    padding: 2vh 2vw;             /* space around edges */
  }

  .Logo {
    width: 5.9vw;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .Logo:hover {
    transform: scale(1.08);
  }